
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:fragment="main-fragment(title,otherStaticResource,javascript,mainContent)">

<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/assets/css/dashboard.css}">
    <title th:replace="${title}">Dashboard Sidebar Menu</title>

    <th:block th:replace="${otherStaticResource}">

    </th:block>
</head>

<body>

    <nav class="main-layout_sidebar main-layout_close">
        <header>
            <div class="main-layout_image-text">
                <span class="main-layout_image">
                    <img id="main-layout_logo-project" src="/image/logo.jpg" alt="logo">
                </span>
                <div class="main-layout_text main-layout_logo-text">
                    <span class="name">PMM</span>
                    <span class="profession"></span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="main-layout_menu-bar">
            <div class="main-layout_menu">
                <ul class="main-layout_menu-links">
                    <li class="main-layout_nav-link">
                        <a href="#">
                            <i class='bx bxs-home icon'></i>
                            <span class="main-layout_text main-layout_nav-text">Home</span>
                        </a>
                    </li>
                    <li class="main-layout_nav-link">
                        <a th:href="@{/users/list-account}">
                            <i class='bx bxs-bar-chart-square icon' ></i>
                            <span class="main-layout_text main-layout_nav-text">Overview</span>
                        </a>
                    </li>
                    <li class="main-layout_nav-link">
                        <a th:href="@{/users/profile}">
                            <i class='bx bxs-user-circle icon'></i>
                            <span class="main-layout_text main-layout_nav-text">Profile</span>
                        </a>
                    </li>
                    <li class="main-layout_nav-link">
                        <a th:href="@{/users/list-income}">
                            <i class='bx bx-dollar icon'></i>
                            <span class="main-layout_text main-layout_nav-text">Income</span>
                        </a>
                    </li>
                    <li class="main-layout_nav-link">
                        <a th:href="@{/users/list-expenses}">
                            <i class='bx bxs-wallet icon'></i>
                            <span class="main-layout_text main-layout_nav-text">Expense</span>
                        </a>
                    </li>
                    <li class="main-layout_nav-link">
                        <a th:href="@{/users/list-budget}">
                            <i class='bx bxs-blanket icon'></i>
                            <span class="main-layout_text main-layout_nav-text">Budget</span>
                        </a>
                    </li>

                    <li class="main-layout_nav-link">
                        <a href="#">
                            <i class='bx bxs-credit-card-front icon'></i>
                            <span class="main-layout_text main-layout_nav-text">Debt</span>
                        </a>
                    </li>

                    <li class="main-layout_nav-link">
                        <a href="#">
                            <i class='bx bxs-cog icon'></i>
                            <span class="main-layout_text main-layout_nav-text">Setting</span>
                        </a>
                    </li>

                    <li class="main-layout_nav-link">
                        <a href="#">
                            <i class='bx bx-envelope icon' ></i>
                            <span class="main-layout_text main-layout_nav-text">Contact</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-layout_bottom-content">
                <li class="">
                    <a th:href="@{/logout}">
                        <i class='bx bx-log-out icon'></i>
                        <span class="main-layout_text main-layout_nav-text">Logout</span>
                    </a>
                </li>
                </li>
            </div>
        </div>
    </nav>
    <section class="main-layout_home" th:insert="${mainContent}">
        <div class="main-layout_text">Dashboard Sidebar</div>
    </section>
    <th:block th:replace="${javascript}">
        
    </th:block>
    <script th:src="@{/assets/javascrip/script.js}"></script>
</body>

</html>