<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form th:action="@{/users/add-adjust}" th:object="${user}" method="post">
    <div class="header">
    <h1 th:text="'What\'s Up' +' '+ *{lastName} +'!'"></h1>
    <p>create a budget of how much you want to spend, save and earning goals. Also distribute your budget.</p>
    </div>  
        <p>I want to spend (Monthly)
            <input type="text" th:field="*{monthlySpending}" required>
        </p>
        <p>I want to save (Monthly)
            <input type="text" th:field="*{monthlySaving}" required>
        </p>
        <p>I want to spend (Annually)
            <input type="text" th:field="*{annuallySpending}" th:value="${user.monthlySpending * 12}" readonly> 
        </p>
        <p>I plan to earn(Monthly)
            <input type="text" th:field="*{monthlyEarning}" required>
        </p>
        <button type="submit">Add</button>
    </form>
</body>

</html>