<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/main-layout ::main-fragment(
    ~{::title}, 
    ~{::#admin-static-resource},
    ~{::#admin_javascript},
    ~{::#mainContent})">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Admin Control</title>
    <th:block id="admin-static-resource">
        
        <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </th:block>
</head>


<body>
    <div id="mainContent" class="box-admin">
        <section class="admin_table-header">
            <h1 id="table-header">Group Of Users Information</h1>
            <div class="admin_data-contact">
                <div class="admin_search">
                    <label id="lbSearch" for="admin_txtSearch">Search</label>
                    <input type="text" name="txtSearch" id="admin_txtSearch" placeholder="search">
                    <select name="sltSearch" id="admin_sltSearch">
                        <option value="select">Select</option>
                        <option value="name">Name </option>
                        <option value="email">Email </option>
                        <option value="phone">Phone </option>
                    </select>
                    <button id="admin_btnSearch">Search</button>
                    <button id="admin_btnReload">Re-load</button>
                </div>
                <div class="listBy">
                    List by:
                    <input type="text" style="display: none;" th:value="${data3}" id="isStatusPage">
                    <input type="text" style="display: none;" th:value="${data4}" id="isLockPage">
                    <input type="text" style="display: none;" th:value="${data5}" id="status">
                    <input type="text" style="display: none;" th:value="${data6}" id="lock">

                    <button id="admin_btnActiveList" th:text="${data5} ? 'Active':'De-Active' "
                        th:class="${data5} ? 'positive-status' : 'negative-status' "></button>
                    <button id="admin_btnLockedList" th:text="${data6} ?   'None-lock':'Lock' "
                        th:class="${data6} ? 'positive-status' : 'negative-status' "></button>

                </div>
            </div>
        </section>
        <section th:replace="layout/admin-table :: table-users(${data})">
        </section>
        <div id="pagination">
            <button id="admin_firstPage" onclick="goToFirstPage()" disabled><i class="fa-solid fa-backward-fast" style="color: whitesmoke; font-size: 12px;"></i></button>
            <button id="admin_previousPage" onclick="goToPreviousPage()" disabled><i class="fa-solid fa-caret-left" style="color: whitesmoke; font-size: 16px;"></i></i></button>
            <input type="number" id="admin_goToPageInput" min="1" th:max="${data2}" th:value="${data1}">
            <label id="lbPageInput" for="goToPageInput" th:text="'of '+${data2}">

            </label>
            <button id="admin_goToPageButton" onclick="goToPage()">Go</button>
            <button id="admin_nextPage" onclick="goToNextPage()"><i class="fa-solid fa-caret-right" style="color: whitesmoke; font-size: 16px;"></i></button>
            <button id="admin_lastPage" onclick="goToLastPage()"><i class="fa-solid fa-forward-fast" style="color: whitesmoke; font-size: 12px;"></i></button>
            <input id="admin_totalPages" style="display: none;" type="text" th:value="${data2}">
        </div>
    </div>


    <th:block id="admin_javascript">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" th:inline="javascript"></script>
        <script th:src="@{/assets/javascript/admin.js}"></script>
    </th:block>

</body>

</html>