<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/main-layout ::main-fragment(
    ~{::title}, 
    ~{::#change-password_static-resource},
    ~{::#change-password_javascript},
    ~{::#mainContent})">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <th:block id="change-password_static-resource">
        <link rel="stylesheet" th:href="@{/assets/css/editprofile.css}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" th:inline="javascript"></script>


    </th:block>
    <title>Change password</title>
</head>

<body >
    <section id="mainContent">


        <div class="container bootstrap snippets bootdey" style="margin-top: 10px;">
            <h1 class="text-primary">Change Password</h1>

            <hr>
            <p style="color: red;" th:text="${param.mess}"></p>
            <div class="row">


                <div class="col-md-9 personal-info">
                    <form th:action="@{/users/change-password}" method="POST" id="edit-profile-form">
 
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Old password:</label>
                            <div class="col-lg-6">
                                <input class="form-control" th:value="${oldPassword}" type="text" name="oldPassword" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">New password:</label>
                            <div class="col-lg-6 otp-send-box">
                                <input class="form-control" id="password" type="text" name="newPassword" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Re-password:</label>

                            <div class="col-lg-6 otp-send-box">
                                <span id="message"></span>
                                <input class="form-control" id="repeatPassword" type="text" name="rePassword" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6 otp-send-box">
                                <input id="submit-change-password" type="submit" value="Confirm"
                                    class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>

            </div>


        </div>

    </section>
    <th:block id="change-password_javascript">
        <script>
            $('#password, #repeatPassword').on('keyup', function () {
                if ($('#password').val() == $('#repeatPassword').val()) {
                    $('#message').html('Re-password is matching').css('color', 'green');
                } else
                    $('#message').html('Re-password is not Matching').css('color', 'red');
            });

        </script>
                <script th:src="@{/assets/javascript/change-pass.js}"></script>

    </th:block>
</body>

</html>