<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Pie Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <canvas id="pieChart"></canvas>
    <script th:inline="javascript">
        /* Lấy dữ liệu từ model hoặc controller và chuyển thành mảng JSON */
        var categoryData = /*[[${categoryData}]]*/ {};

        var labels = Object.keys(categoryData);
        var data = Object.values(categoryData);

        /* Mảng các màu sắc cho từng phần tử */
        var predefinedColors = ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40', '#00CC99', '#FF66CC'];
        var colors = getRandomColors(data.length, predefinedColors);

        /* Tạo biểu đồ tròn */
        var ctx = document.getElementById('pieChart').getContext('2d');
        var pieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels, // Tên của từng category
                datasets: [{
                    data: data, // Tổng expense của từng category
                    backgroundColor: colors // Màu sắc cho từng phần tử
                }]
            },
            options: {
                responsive: false
            }
        });

        /* Hàm tạo mảng màu sắc ngẫu nhiên và không trùng lặp */
        function getRandomColors(count, predefinedColors) {
            var colors = [];
            var availableColors = predefinedColors.slice(); // Sao chép mảng predefinedColors
            for (var i = 0; i < count; i++) {
                var randomIndex = Math.floor(Math.random() * availableColors.length);
                var color = availableColors[randomIndex];
                colors.push(color);
                availableColors.splice(randomIndex, 1); // Xóa màu đã chọn khỏi mảng
            }
            return colors;
        }
    </script>

</body>

</html>