<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <h1>Update Category.</h1>
    <form th:action="@{/detail-category}" th:object="${category}" method="post">
        <p>Id <input type="text" readonly th:field="*{id}"></p>
        <p>Category Name
            <input type="text" th:field="*{name}" required>
        </p>
        <p>
            <select th:field="*{income_or_expense}" required>
                <option th:value="TRUE" th:text="income"></option>
                <option th:value="FALSE" th:text="expenses"></option>
            </select>
        </p>
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
</body>

</html>