
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" th:inline="javascript"></script>
    <script src="https://kit.fontawesome.com/de1d9009fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/alert-report.css}">
    <link rel="stylesheet" th:href="@{/assets/css/otp.css}">
</head>
<body th:onload="report([[${param.report}]])">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-4 form">
                <form th:action="@{/forgot-password}" method="POST" th:object="${usersDTOForgotPasswordRequest}">
                    <h2 class="text-center">Reset Password</h2>
                    <div class="form-group mt-4">
                        <p id="message" class="alert alert-primary">Password length be >= 6 and contain at least 1 capital letter 1 digit</p>
                        <span class="badge font-italic">Your new password</span>
                        <input class="form-control" id="password" type="password" th:field="*{password}" name="password" placeholder="Create new password" required>
                    </div>
                    <div class="form-group mt-4">
                        <span class="badge">Confirm password</span>
                        <input class="form-control" id="repeatPassword" th:field="*{repeatPassword}" type="password" name="cpassword" placeholder="Confirm your password" required>
                    </div>
                    <div class="form-group mt-4">
                        <input class="form-control button" type="submit" name="change-password" value="Change">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/javascript/forgot-password.js}"></script>
    <script th:src="@{/assets/javascript/alert-report.js}"></script>

</body>
</html>