<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Multi Step Form | CodingNepal</title>
    <link rel="stylesheet" th:href="@{/assets/css/forgot-password.css}">
    <link rel="stylesheet" th:href="@{/assets/css/alert-report.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


</head>

<body th:onload="report([[${report}]])">
    <div class="alert alert_hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="alert_msg" id="report" style="padding-left: 20px;"></span>
        <div class="alert_close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>
    <div class="forgot-password_container">
        <header>Signup Form</header>
        <div class="forgot-password_progress-bar">
            <div class="forgot-password_step">
                <p>
                    Confirm OTP
                </p>
                <div class="forgot-password_bullet">
                    <span>1</span>
                </div>
                <div class="forgot-password_check fas fa-check"></div>
            </div>
            <div class="forgot-password_step">
                <p>
                     Password
                </p>
                <div class="forgot-password_bullet">
                    <span>2</span>
                </div>
                <div class="forgot-password_check fas fa-check"></div>
            </div>


        </div>
        <div class="forgot-password_form-outer">
            <form th:action="@{/forgot-password}" th:object="${usersDTOForgotPasswordRequest}" method="POST">
                <div class="forgot-password_page forgot-password_slide-page">
                    <div class="forgot-password_title">
                        Email Address:
                    </div>
                    <p id="emailMess" style="line-height: 24px; height: 24px; margin-top: 20px;"></p>
                    <div class="forgot-password_field" style="margin-top: 20px;">

                        <div class="forgot-password_label">
                            Email
                        </div>
                        <input type="email" id="userEmailInput" name="email" th:field="*{email}">
                    </div>
                    <div class="forgot-password_field ">
                        <div class="forgot-password_label">
                            OTP
                        </div>
                        <div class="forgot-password_OTP">
                            <div class="forgot-password_inputOTP">
                                <input type="text" id="userOTPInput">
                            </div>
                            <div class="forgot-password_sendOTP_button">
                                <button type="button" onclick="sendOTP()">
                                    <p>Send OTP</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="forgot-password_field" style="margin-bottom: 20px;">
                        <button type="button" class="firstNext forgot-password_next">Next</button>
                    </div>
                    <div>
                        <a th:href="@{/login}" style="font-size: 12px;">Back To Login</a>
                    </div>

                </div>

                <div class="forgot-password_page">
                    <div class="forgot-password_title">
                        New password:
                    </div>
                    <div class="forgot-password_field">
                        <div class="forgot-password_label">
                            Password
                        </div>
                        <input type="password" name="password" id="password" th:field="*{password}" required>
                    </div>
                    <div class="forgot-password_field">
                        <div class="forgot-password_label">
                            Re-password
                        </div>
                        <input type="password" name="repeatPassword" id="repeatPassword" th:field="*{repeatPassword}"
                            required>
                    </div>
                    <p id="message"></p>
                    <div class="forgot-password_field forgot-password_btns">
                        <button type="button" class="prev-3 forgot-password_prev">Previous</button>
                        <button type="submit" class="forgot-password_submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" th:inline="javascript"></script>

    <script th:src="@{/assets/javascrip/forgot-password.js}">
    </script>


</body>

</html>