<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<style>
    .list-group {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 1rem;
        border: 1px solid #ccc;
    }

    .fw-bold {
        font-weight: bold;
    }
</style>

<body>
    <ol class="list-group list-group-accounts" >
        <h3>Income Records</h3>
        <li class="list-group-item d-flex justify-content-between align-items-start" th:each="itemincome : ${listincome}">
          <div class="ms-2 me-auto">
            <div class="fw-bold" th:text="${itemincome.title}"></div>
            <div class="fw-bold" th:text="${itemincome.category != null ? itemincome.category.name : ''}"></div>
            <div class="fw-bold" th:text="${itemincome.accounts != null ? itemincome.accounts.name : ''}"></div>
          </div>
          <span><div class="fw-bold" th:text="${itemincome.incomeDate}"></div>DateTime</span>
          <span><div class="fw-bold" th:text="${itemincome.amount}"></div>Amount</span>
          <span>
            <div class="fw-bold"><a th:href="@{/detail-income/{id}(id=${itemincome.id})}">Edit</a>
                <a th:href="@{/delete-income/{id}(id=${itemincome.id})}">Delete</a></div>Action
          </span>
        </li>
      </ol>
</body>
</html>