<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/main-layout ::main-fragment(
    ~{::title}, 
    ~{::#admin-static-resource},
    ~{::#admin_javascript},
    ~{::#mainContent})">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Overview</title>
    <th:block id="admin-static-resource">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/css/view-debtor.css">
        <link rel="stylesheet" href="/assets/css/accounts.css">
    </th:block>


</head>

<body>
    <div id="mainContent" class="box">

        <div class="row">

            <div class="col-md-4">
              <div class="card ">
                <div class="card-header ">
                  <h5 class="card-title" style="text-align: center;">Transaction</h5>
                </div>
                <div class="card-body ">
                    <canvas id="pieChart" width="316" height="157" style="display: block; height: 150px; width: 280px;"></canvas>
                </div>
                <div class="card-footer ">
                  <hr>
                </div>
              </div>
            </div>
        
            <div class="col-md-8">
              <div class="card card-chart">
                <div class="card-header">
                  <h5 class="card-title" style="text-align: center;">Expense For The Year</h5>
                </div>
                <div class="card-body">
                    <canvas id="expensesChart" width="708" height="176" style="display: block; height: 141px; width: 567px;"></canvas>
                </div>
                <div class="card-footer">
                  <hr/>
                </div>
              </div>
            </div>

          </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="main">
                        <div class="card">
                            <div class="card-header">
                                <div class="float-left">
                                    <h3 class="mb-0">Account List </h3>
                                    <p class="small text-muted m-0" th:text="'Total record: ' + ${record}"></p>
                                </div>
                                <div class="float-right">
                                    <!-- <a type="button" th:href="@{/users/add-account}" title="List Account"
                                        class="mr-1 btn btn-primary" style="border-radius: 20px;">Add New Account</a> -->

                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#addModal" style="border-radius: 20px;">
                                        Add New Account
                                    </button>
                                    <div th:replace="layout/account-popup :: add-account-popup(${addaccounts})"></div>
                                </div>
                         
                            </div>
                            <div class="card-body">
                                <div class="table-responsive" style="text-align: center;">
                                    <table class="table table-bordered table-sm"
                                        data-resizable-columns-id="demo-table-v2">
                                        <thead>
                                            <tr id="ta" style="background-color: white;color:black;">
                                                <th data-resizable-column-id="name">Name</th>
                                                <th data-resizable-column-id="balance">Balance</th>
                                                <th data-resizable-column-id="transaction">Transaction</th>
                                                <th data-resizable-column-id="status">Status</th>
                                                <th data-resizable-column-id="changeStatus">Change Status</th>
                                                <th data-resizable-column-id="action"
                                                    style="position: relative; width: 317.65px;">Action</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <tr th:each="item : ${page.content}"
                                                th:class="${item.balance < 0} ? 'red-row' : ''">
                                                <td th:text="${item.name}"></td>
                                                <td th:text="${item.balance}"></td>
                                                <td th:text="${accountsTransaction[item.name]}"></td>
                                                <td th:text="${item.active}? 'Active' :'Inactive' "></td>
                                                <td data-label="Change Status" class="status"
                                                    th:onclick="changeStatusAccounts([[${item.active}]],[[${item.id}]])">
                                                    <label class="admin_switch">
                                                        <input type="checkbox" th:checked="${item.active}" disabled>
                                                        <span class="admin_slider admin_round"></span>
                                                    </label>
                                                </td>
                                                <td>

                                                    <div style="margin: auto; text-align:center">
                                                        <!-- <a th:href="@{/users/detail-account/{id}(id=${item.id})}"
                                                            title="Edit" class="btn btn-warning"><i
                                                                class="fa fa-pencil"></i>
                                                            Edit
                                                        </a> -->
                                                        <a>
                                                            <button type="button" class="btn btn-warning"
                                                                data-toggle="modal"
                                                                th:data-target="'#editModal' + ${item.id}">
                                                                <i class="fa fa-pencil"></i>
                                                                Edit
                                                            </button>
                                                            <div
                                                                th:replace="layout/account-popup :: edit-account-popup(${item})">
                                                            </div>
                                                        </a>
                                                        <a th:onclick="confirmDelete([[${item.id}]])"
                                                            class="btn btn-danger" style="color: black;"><i
                                                                class="fa fa-exclamation-circle"></i>
                                                            Delete
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <th:block th:if="${page.content.size() < 6}">
                                                <tr th:each="i : ${#numbers.sequence(1, 6 - page.content.size())}">
                                                    <td style="width: 53px; height: 52px;"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </th:block>
                                            <!-- </c:forEach> -->
                                        </tbody>
                                    </table>
                                    <div class="card-body">
                                        <div class="pagination">
                                            <a th:classappend="${page.hasPrevious() ? '' : 'disabled'}"
                                                th:href="@{/users/list-account(page=${page.number - 1})}"
                                                class="btn btn-dangers">Previous</a>
                                            <span>Page <span th:text="${page.number + 1}"></span> / <span
                                                    th:text="${page.totalPages}"></span></span>
                                            <a th:classappend="${page.hasNext() ? '' : 'disabled'}"
                                                th:href="@{/users/list-account(page=${page.number + 1})}"
                                                class="btn btn-dangers">Next</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block id="admin_javascript">

        <script th:src="@{/assets/javascrip/admin.js}"></script>
        <script th:inline="javascript">
            var income = /*[[${totalIncome}]]*/ {};
            var expense = /*[[${totalExpenses}]]*/{};
            var save = /*[[${totalBalance}]]*/ {};

            if (income == 0 && expense == 0 && save == 0) {
                income = 1
                expense = 1
                save = 1
            }
            document.addEventListener('DOMContentLoaded', function () {
                var data = {
                    labels: ['Income', 'Expenses', 'Savings'],
                    datasets: [{
                        data: [income, expense, save],
                        backgroundColor: [
                            '#36A2EB',
                            '#FF6384',
                            '#FFCE56'
                        ]
                    }]
                };

                var options = {
                    responsive: false
                };

                var ctx = document.getElementById('pieChart').getContext('2d');
                new Chart(ctx, {
                    type: 'pie',
                    data: data,
                    options: options
                });
            });
        </script>

        <script th:inline="javascript">
            /* Lấy dữ liệu từ model */
            var monthlyExpenses = /*[[${data}]]*/ {};
            /* Chuẩn bị dữ liệu cho biểu đồ */
            var labels = Object.keys(monthlyExpenses);
            var data = Object.values(monthlyExpenses);
            /* Tạo biểu đồ bằng Chart.js */

            var ctx = document.getElementById('expensesChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Total Amount',
                        data: data,
                        backgroundColor: '#4BC0C0',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

        <script th:src="@{/assets/javascript/account.js}"></script>


    </th:block>

</body>

</html>