<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/main-layout ::main-fragment(
    ~{::title}, 
    ~{::#admin-static-resource},
    ~{::#admin_javascript},
    ~{::#mainContent})">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Budget List</title>
    <th:block id="admin-static-resource">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/view-debtor.css">
        <link rel="stylesheet" href="/assets/css/accounts.css">
    </th:block>

</head>

<body>
    <div id="mainContent" class="box">
        <div class="chart">
            <canvas id="pieChartBudget"></canvas>
            <canvas id="pieChart"></canvas>
            <canvas id="expenseChart" ></canvas>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="main">
                        <div class="card">
                            <div class="card-header">
                                <div class="float-left">
                                    <h3 class="mb-0">Budget List </h3>

                                    <p class="small text-muted m-0" th:text="'Total record: ' + ${record}"></p>
                                </div>

                                <div class="float-right">
                                    <a type="button" th:href="@{/users/add-adjust}" title="add adjust"
                                        class="mr-1 btn btn-primary" style="border-radius: 20px;">Adjust</a>
                                </div>

                                <div class="mess">
                                    <i style="color: red; margin-right: 170px;" class="mb-0" th:text="${mess}"></i>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive" style="text-align: center;">
                                    <table class="table table-bordered table-sm"
                                        data-resizable-columns-id="demo-table-v2">
                                        <thead>
                                            <tr id="ta" style="background-color: white;color:black;">
                                                <th data-resizable-column-id="name">Name</th>
                                                <th data-resizable-column-id="goal">Goal</th>
                                                <th data-resizable-column-id="spent">Spent</th>
                                                <th data-resizable-column-id="trasaction">Transaction</th>
                                                <th data-resizable-column-id="process">Process</th>
                                                <th data-resizable-column-id="action"
                                                    style="position: relative; width: 317.65px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item : ${listbudget}"
                                                th:class="${item.budget} < ${categoryExpensesMap[item.name]}? 'red-row' : ''">
                                                <td th:text="${item.name}"></td>
                                                <td th:text="${item.budget}"></td>
                                                <td th:text="${categoryExpensesMap[item.name]}"></td>
                                                <td th:text="${expenseCountMap[item.name]}"></td>
                                                <td>
                                                    <progress id="file" max="100"
                                                        th:value="${(categoryExpensesMap[item.name] / item.budget) * 100}"></progress>
                                                </td>
                                                <td>
                                                    <form th:action="@{/users/add-budget}" method="post">
                                                        <div style="margin: auto; text-align:center">
                                                            <!-- <a th:href="@{/users/add-budget/{name}(name=${item.name})}"
                                                            title="Edit" class="btn btn-warning"><i
                                                                class="fa fa-pencil"></i>
                                                            Set Budget
                                                        </a> -->
                                                            <a>
                                                                <button type="button" class="btn btn-warning"
                                                                    data-toggle="modal"
                                                                    th:data-target="'#editModal' + ${item.id}">
                                                                    <i class="fa fa-pencil"></i>
                                                                    Set Budget
                                                                </button>
                                                                <div class="modal fade" th:id="'editModal'+${item.id}"
                                                                    tabindex="-1" role="dialog"
                                                                    th:aria-labelledby="'editModalLabel' + ${item.id}"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title"
                                                                                    th:id="'editModalLabel'+${item.id}">
                                                                                    Set Budget</h5>
                                                                                <button type="button" class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close">
                                                                                    <span
                                                                                        aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">

                                                                                <input th:value="${item.id}" type="text"
                                                                                    class="form-control" name="id"
                                                                                    style="display: none;">
                                                                                <div
                                                                                    class="position-relative row form-group">
                                                                                    <div
                                                                                        class="form-label-horizontal col-md-3">
                                                                                        <label class=""><b>Name</b>
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="col-md-9">
                                                                                        <input th:value="${item.name}"
                                                                                            type="text"
                                                                                            class="form-control"
                                                                                            name="name">

                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="position-relative row form-group">
                                                                                    <div
                                                                                        class="form-label-horizontal col-md-3">
                                                                                        <label class="">
                                                                                            <b>Budget</b>
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="col-md-9">
                                                                                        <input th:value="${item.budget}"
                                                                                            type="text"
                                                                                            class="form-control"
                                                                                            name="budget">
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">Close</button>
                                                                                <button type="submit"
                                                                                    class="btn btn-primary">Save
                                                                                    Changes</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block id="admin_javascript">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script th:src="@{/assets/javascrip/admin.js}"></script>
        <script th:src="@{/assets/javascrip/account.js}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script th:inline="javascript">
            /* Lấy dữ liệu từ model hoặc controller và chuyển thành mảng JSON */
            var categoryData = /*[[${categoryData}]]*/ {};

            var labels = Object.keys(categoryData);
            var data = Object.values(categoryData);

            /* Mảng các màu sắc cho từng phần tử */

            /* Tạo biểu đồ tròn */
            var ctx = document.getElementById('pieChart').getContext('2d');
            var pieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels, // Tên của từng category
                    datasets: [{
                        data: data, // Tổng expense của từng category
                        backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40', '#00CC99', '#FF66CC'] // Màu sắc cho từng phần tử
                    }]
                },
                options: {
                    responsive: false
                }
            });

            /* Hàm tạo mảng màu sắc ngẫu nhiên và không trùng lặp */

        </script>

        <script th:inline="javascript">
            // Dữ liệu quy trình expense và budget
            var expense = /*[[${totalExpenseByMonth}]]*/ {};
            var budget = /*[[${monthlySpending}]]*/ {};

            // Tính toán phần trăm chi tiêu so với ngân sách
            var expensePercentage = (expense / budget) * 100;
            var remainingPercentage = 100 - expensePercentage;
            if (remainingPercentage < 0) {
                remainingPercentage = 0;
            }

            // Lấy thẻ canvas và context
            var canvas = document.getElementById('expenseChart');
            var ctx = canvas.getContext('2d');

            // Tạo biểu đồ tròn
            var chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Expense', 'Remaining'],
                    datasets: [{
                        data: [expensePercentage, remainingPercentage],
                        backgroundColor: ['#FF6384', '#36A2EB']
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Expense vs Budget'
                    },
                    responsive: false, // Đặt kích thước biểu đồ phù hợp với kích thước phần tử chứa
                }
            });
        </script>


        <script th:inline="javascript">
            /* Lấy dữ liệu từ model hoặc controller và chuyển thành mảng JSON */
            var categoryData = /*[[${categoryDataBudget}]]*/ {};

            var labels = Object.keys(categoryData);
            var data = Object.values(categoryData);

            /* Mảng các màu sắc cho từng phần tử */

            /* Tạo biểu đồ tròn */
            var ctx = document.getElementById('pieChartBudget').getContext('2d');
            var pieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels, // Tên của từng category
                    datasets: [{
                        data: data, // Tổng expense của từng category
                        backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40', '#00CC99', '#FF66CC']// Màu sắc cho từng phần tử
                    }]
                },
                options: {
                    responsive: false
                }
            });

            /* Hàm tạo mảng màu sắc ngẫu nhiên và không trùng lặp */

        </script>
    </th:block>
</body>

</html>