<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <table th:each="itemincome : ${listincome}">
        <td th:text="${itemincome.title}"></td>
        <td th:text="${itemincome.accounts != null ? itemincome.accounts.name : ''}"></td>
        <td th:text="${itemincome.category != null ? itemincome.category.name : ''}"></td>
        <td th:text="${itemincome.incomeDate}"></td>
        <td th:text="${itemincome.amount}"></td>
        <td><a th:href="@{/detail-income/{id}(id=${itemincome.id})}">Edit</a></td>
        <td><a th:href="@{/delete-income/{id}(id=${itemincome.id})}">Delete</a></td>
    </table>
</body>

</html>