<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
      function submit(){
        document.getElementById("myForm").submit();
      }
    </script>

</head>

<body>
      <table th:each="item : ${listaccount}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.balance}"></td>
        <td th:text="${item.active}? 'Active' :'Inactive' "></td>
        <td>
          <a th:href="@{/list-account/{id}/{action}(id=${item.id},action=1)}">Active</a>
          <a th:href="@{/list-account/{id}/{action}(id=${item.id},action=0)}">Inactive</a>
        </td>
        <td><a th:href="@{/detail-account/{id}(id=${item.id})}">Edit</a></td>
        <td><a th:href="@{/delete-account/{id}(id=${item.id})}">Delete</a></td>
    </table>
</body> 
</html>