<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <table th:each="itemincome : ${listincome}">
        <td th:text="${itemincome.title}"></td>

    <a th:each="itemaccount : ${listaccount}">
        <a th:if="${itemincome.accountId}==${itemaccount.id}">
            <td th:text="${itemaccount.name}"></td>
        </a>
    </a>

    <a th:each="itemcategory : ${listcategory}">
        <a th:if="${itemincome.categoryId}==${itemcategory.id}">
            <td th:text="${itemcategory.name}"></td>
        </a>
    </a>
    
        <td th:text="${itemincome.incomeDate}"></td>
        <td th:text="${itemincome.amount}"></td> 
    </table>
</body> 
</html>