<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/fonts/linearicons/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" th:inline="javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/de1d9009fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/assets/css/alert-report.css}">
    <link rel="stylesheet" th:href="@{/assets/css/register.css}">

</head>

<body th:onload="report([[${param.error}]])">
    <div class="wrapper">
        <div class="inner">
            <!-- <img src="image/image-3.png" alt="" class="image-1"> -->
            <form th:action="@{/register}" th:object="${usersDTORegister}" method="POST">
                <h3>New Account?</h3>
                <div id="emailMess"></div>
                <div class="form-holder">
                    <span class="lnr lnr-envelope"></span>
                    <input type="email" id="userEmailInput" name="email" th:field="*{email}" class="form-control"
                        placeholder="Email" onkeyup="checkEmail(this)">
                </div>
                <p id="message" class="mess"></p>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form-control" placeholder="Password" name="password" 
                    id="password" th:field="*{password}" pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z0-9]{6,}$" required>
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" name="repeatPassword" id="repeatPassword" th:field="*{repeatPassword}"
                        class="form-control" pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z0-9]{6,}$"
                        title="Password must contain at least a captital letter and a number, cannot contain special character" placeholder="Confirm Password" required>
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-phone-handset"></span>
                    <input type="number" class="form-control" placeholder="Phone Number" name="phone" th:field="*{phone}">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-home"></span>
                    <input type="text" class="form-control" placeholder="Address" name="address" th:field="*{address}">
                </div>
       
                <button type="submit" class="register_submit">Submit</button>   
                <div style="text-align: center; padding: 0; margin: 0; margin-top: 20px;">
                    <a th:href="@{/login}" style="font-size: 12px;color: black ;text-align: center; margin: 0;">Already have an account??</a>
                </div>         
            </form>
        </div>
    </div>
    <script th:src="@{/assets/javascript/register.js}"></script>
    <script th:src="@{/assets/javascript/forgot-password.js}"></script>
    <script th:src="@{/assets/javascript/alert-report.js}"></script>

</body>


</html>