<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/main-layout ::main-fragment(
    ~{::title}, 
    ~{::#admin-static-resource},
    ~{::#admin_javascript},
    ~{::#mainContent})">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- Bootstrap DateTimePicker -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <th:block id="admin-static-resource">
        <link rel="stylesheet" href="/assets/css/view-debtor.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/3098a9fa7b.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <style>
            .green-row {
                color: green;
            }
    
            /* CSS cho dòng chẵn */
            tr:nth-child(odd) {
                background-color: #f2f2f2;
            }
    
            /* CSS cho dòng lẻ */
            tr:nth-child(even) {
                background-color: white;
            }
        </style>
    </th:block>

    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/3098a9fa7b.js" crossorigin="anonymous"></script> -->



    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> -->


    <!-- Moment.js -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="js/resizableColumns.min.js"></script>
    <link rel="stylesheet" href="css/admin.css" /> -->
    <!-- Bootstrap DateTimePicker -->


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        

    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script> -->
    <!-- <script src="js/resizableColumns.min.js"></script> -->
    <!-- <link rel="stylesheet" href="/assets/css/view-debtor.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js"></script>
    <script src="js/numtowords.min.js"></script> -->
    <!-- Import thư viện JSON -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="./img/ODB_ Online_Debt_Book.png" type="image/x-icon"> -->

  
    <title>Debtors List</title>
</head>

<body>
    <th:block id="mainContent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="main">
                    <div class="card">
                        <div class="card-header">
                            <div class="float-left">
                                <h3 class="mb-0" th:text="${debtor.name}"></h3>
                                <p class="small text-muted m-0" th:text="'Total record: ' + ${page.getTotalElements()}">
                                </p>

                            </div>
                            <div class="float-right">
                                <a type="button" th:href="@{/Debtor/ListAll}" title="List Debt"
                                    class="mr-1 btn btn-primary" style="border-radius: 20px;">Back to List of Debtor</a>
                            </div>
                            <div class="float-right">
                                <th:block th:if="${listAcc > 0}">
                                    <a type="button" th:href="@{'/Debtor/Detail/Add/' + ${debtor.id}}"
                                        class="mr-1 btn btn-primary" style="border-radius: 20px;"><i
                                            class="fa fa-plus"></i>Add new Debt</a>

                                            <!-- <div class="row">
                                                <div class="col-md-12">
                                                    
    
                                                        <div class="float-left">
                                                        </div>
                                                        <div class="card-body" id="detail_debt">
                                                            <div class="table-responsive">
                                                                <tbody>
                                                                    <div style="margin: auto;text-align: center;">
                                                                        <button type="button" class="btn btn-primary"
                                                                            data-toggle="modal"
                                                                            data-target="#debtSettlement"
                                                                            name="Details_Btn">Details
                                                                        </button>
    
                                                                    </div>
                                                                    </td>
                                                                    </tr>
                                                                </tbody>
                                                            </div>
                                                        </div>
    
                                                   
                                                </div>
                                            </div>
                                        
                                        <div class="modal fade" id="debtSettlement" tabindex="-1" role="dialog"
                                            aria-labelledby="debtSettlement" aria-hidden="true" data-backdrop="static">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <div class="pull-left">
                                                                    <h3 class="mb-0">Detail Settlement</h3>
                                                                </div>
                                                                <div class="pull-right"></div>
                                                            </div>
                                                            <div class="card-body">
                                                                <form role="form" action="Debt" method="post"
                                                                    id="SettlementDebtForm">
                                                                    <input style="display:none"
                                                                        id="SettlementDebtByCustomerId" name="customerId" />
                                                                    <div autocomplete="off">
                                                                        <div class="position-relative row form-group">
                                                                            <div class="form-label-horizontal col-md-3">
                                                                                <label class=""><b>Account(*)</b>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-9">
                                                                                <select class="from-select"
                                                                                    id="selectAccount">
                                                                                    <option selected>Choose...</option>
                                                                                    <option value="1">TP Bank</option>
                                                                                    <option value="2">MB Bank</option>
    
                                                                                </select>
    
                                                                            </div>
    
    
                                                                        </div>
                                                                        <div class="position-relative row form-group">
                                                                            <div class="form-label-horizontal col-md-3">
                                                                                <label class=""><b>Note(*)
                                                                                    </b></label>
                                                                            </div>
                                                                            <div class="col-md-9"><textarea rows="8"
                                                                                    placeholder="Note" class="form-control"
                                                                                    name="note"
                                                                                    id="noteSettlement"></textarea>
                                                                            </div>
                                                                        </div>
                                                                        <div class="position-relative row form-group">
                                                                            <div class="form-label-horizontal col-md-3">
                                                                                <label class="">
                                                                                    <b>Classify(*)</b>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-9" row="align-items">
                                                                                <button type="button"
                                                                                    class="btn btn-success"
                                                                                    data-toggle="modal"
                                                                                    data-target="#new_debt"
                                                                                    name="AddNewDebtPlus">
                                                                                    <i class="fa fa-plus"></i></button>
                                                                                <button type="button" class="btn btn-danger"
                                                                                    data-toggle="modal"
                                                                                    data-target="#new_debt"
                                                                                    name="AddNewDebtMinus">
                                                                                    <i class="fa fa-minus"></i></button>
                                                                            </div>
                                                                        </div>
                                                                        <div class="position-relative row form-group">
                                                                            <div class="form-label-horizontal col-md-3">
                                                                                <label class="">
                                                                                    <b>Amount(*)</b>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-9">
                                                                                <input placeholder="Input number"
                                                                                    type="number" class="form-control"
                                                                                    name="amount"
                                                                                    onkeypress="return validateNumberInput(event)">
                                                                            </div>
                                                                        </div>
                                                                        <div class="position-relative row form-group">
                                                                            <div class="form-label-horizontal col-md-3">
                                                                                <label class="">
                                                                                    <b>Start Date(*)</b>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-md-9">
                                                                                <input type="date" name="date">
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            style="display: flex; justify-content: center; align-items: center;">
                                                                            <button type="submit"
                                                                                class="mr-1 btn btn-success" id="SaveBtn"
                                                                                onclick="confirm('Are you sure to make a new debt note')">Save</button>
                                                                        </div>
    
    
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal" id="closeSave">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
                                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
    
    
                                    </div> -->
                                </th:block>
                                <th:block th:if="${listAcc == 0}">
                                    <i style="color: red; margin-right: 350px; font-size: 20px;">You need to create an
                                        account before creating a debt!</i>
                                </th:block>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive" style="text-align: center;">
                                <table class="table table-bordered table-sm" data-resizable-columns-id="demo-table-v2">
                                    <thead>
                                        <tr id="ta" style="background-color: white;color:black;">
                                            <th class="resizable-column" style="position: relative; width: 64.4375px">ID
                                            </th>
                                            <th class="resizable-column">Note</th>
                                            <th class="resizable-column" style="position: relative; width: 128.25px;">
                                                Classify
                                            </th>
                                            <th class="resizable-column">Money
                                                Debt</th>
                                            <th class="resizable-column" style="position: relative; width: 175.275px;">
                                                Start
                                                Date</th>
                                            <th class="resizable-column" style="position: relative; width: 317.65px;">
                                                Action</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr th:each="item : ${page.content}"
                                            th:classappend="${item.classify ? 'green-row' : 'red-row'}">
                                            <td style="font-weight: 499;" th:text="${item.id}"></td>
                                            <td style="font-weight: 499;" th:text="${item.note}"></td>
                                            <td style="font-weight: 499;" th:text="${item.classify ? '+' : '-'}"></td>
                                            <td style="font-weight: 499;" th:text="${item.money_debt}"></td>
                                            <td style="font-weight: 499;" th:text="${item.date_create}"></td>
                                            <td>
                                                <div style="margin: auto; text-align:center">
                                                    <a th:href="@{'/Debtor/Detail/Details/' + ${item.id}}"
                                                        class="btn btn-warning"><i class="fas fa-info-circle"></i>
                                                        Detail
                                                    </a>

                                                    <a th:href="@{'/Debtor/Detail/Delete/' + ${item.id}}"
                                                        class="btn btn-danger"
                                                        onclick="return confirm('Are you sure you want to delete adebt?');"><i
                                                            class="fa fa-exclamation-circle"></i>
                                                        Delete
                                                    </a>
                                                    <button th:classappend="${item.classify ? '' : 'disabled'}"
                                                        aria-readonly="true" type="button" class="btn btn-success"><em
                                                            class="fa fa-plus"></em></button>
                                                    <button th:classappend="${item.classify ? 'disabled' : ''}"
                                                        aria-readonly="true" type="button" class="btn btn-danger"><em
                                                            class="fa fa-minus"></em></button>
                                                </div>
                                            </td>
                                        </tr>
                                        </c:forEach>
                                    </tbody>
                                </table>

                                <!-- phân trang -->
                                <div class="card-body">
                                    <div class="pagination">
                                        <a th:classappend="${page.hasPrevious() ? '' : 'disabled'}"
                                            th:href="@{${link}(page=${page.number - 1})}"
                                            class="btn btn-dangers">Previous</a>
                                        <span>Page <span th:text="${page.number + 1}"></span> / <span
                                                th:text="${page.totalPages}"></span></span>
                                        <a th:classappend="${page.hasNext() ? '' : 'disabled'}"
                                            th:href="@{${link}(page=${page.number + 1})}"
                                            class="btn btn-dangers">Next</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block id="admin_javascript">
<script>

    $(document).ready(function () {
        $(".resizable-column").resizable({
            handles: 'e', // Chỉ cho phép kéo dãn chiều rộng từ phía bên phải
            minWidth: 50, // Chiều rộng tối thiểu của cột
            resize: function (event, ui) {
                // Khi cột được kéo dãn, điều chỉnh chiều rộng của các ô dữ liệu tương ứng
                var columnIndex = $(this).index();
                $("table tbody tr").each(function () {
                    $(this).find("td:eq(" + columnIndex + ")").width(ui.size.width);
                });
            }
        });
    });
</script>
</th:block>
</body>


<!-- <script th:src="@{/assets/javascrip/resizable-column.js}"></script> -->

</html>