<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/main-layout ::main-fragment(
    ~{::title}, 
    ~{::#admin-static-resource},
    ~{::#admin_javascript},
    ~{::#mainContent})">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <th:block id="admin-static-resource">
        <link rel="stylesheet" href="/assets/css/view-debtor.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/3098a9fa7b.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <style>
            /* CSS cho dòng chẵn */
            tr:nth-child(odd) {
                background-color: #f2f2f2;
            }

            /* CSS cho dòng lẻ */
            tr:nth-child(even) {
                background-color: white;
            }

            td {
                height: 45px;
                ;
            }

            .rounded-popup {
                border-radius: 20px;
            }
        </style>
    </th:block>


    <title>Debtors List</title>

</head>

<body>
    <th:block id="mainContent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="main">
                        <div class="card">
                            <div class="card-header">
                                <div class="float-left">
                                    <h3 class="mb-0">Debtors list </h3>

                                    <p class="small text-muted m-0"
                                        th:text="'Total record: ' + ${page.getTotalElements()}">
                                    </p>
                                </div>

                                <div class="float-right">
                                    <a type="button" th:href="@{/Debtor/ListAll}" title="List All"
                                        class="mr-1 btn btn-primary" style="border-radius: 20px;">List All</a>
                                </div>

                                <div class="float-right">
                                    <a type="button" th:href="@{/Debtor/ListOwner}" title="List Owner"
                                        class="mr-1 btn btn-primary" style="border-radius: 20px;">List Owner</a>
                                </div>
                                <div class="float-right">
                                    <a type="button" th:href="@{/Debtor/ListDebtor}" class="mr-1 btn btn-primary"
                                        style="border-radius: 20px;">List Debtor</a>
                                </div>

                                <div class="float-right">
                                    <button type="button" class="mr-1 btn btn-primary" data-toggle="modal"
                                        data-target="#addModal" style="border-radius: 20px;"><i class="fa fa-plus"></i>
                                        Add New Debtor
                                    </button>
                                    <div th:replace="layout/debtor-popup :: add-debtor-popup()"></div>

                                </div>


                            </div>

                            <div class="float-right">
                                <i style="color: red; margin-right: 170px;" class="mb-0" th:text="${mess}"></i>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <form th:action="@{/Debtor/Search}" method="get">
                                    <div class="input-group">
                                        <div class="form-outline">
                                            <input type="search" name="nameDebtor" th:value="${nameDebtor}"
                                                placeholder="Search Debtor By Name" class="form-control"
                                                style="border-radius: 15px;margin-top: 10px;margin-left: 20px">
                                            <input type="hidden" name="currentLink" th:value="${link}">
                                        </div>
                                        <button type="submit" class="btn btn-secondary"
                                            style="border-radius: 15px;margin-top: 10px;margin-left:30px">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <div style="margin-right: 50px; margin-top: 10px;">

                                <form th:action="@{/Debtor/Filter}" method="get" id="filterForm">
                                    <div class="input-group">
                                        <select id="filterType" name="filterType" class="form-control"
                                            style="border-radius: 15px; margin-right: 10px;">
                                            <option value="total" th:selected="${filterType == 'total'}">Total Money
                                            </option>
                                            <option value="date" th:selected="${filterType == 'date'}">Date Create
                                            </option>
                                        </select>
                                        <input type="hidden" name="nameDebtor" th:value="${nameDebtor}">
                                        <div id="filterValueContainer">

                                            <div id="rangeContainer"
                                                th:classappend="${filterType == 'date'} ? 'active' : ''">
                                                <div class="input-row">
                                                    <input type="text" id="filterValueStart" name="filterValueStart"
                                                        class="form-control" style="border-radius: 15px; width: 200px;"
                                                        placeholder="From" th:value="${filterValueStart}">
                                                    <span class="separator">-</span>
                                                    <input type="text" id="filterValueEnd" name="filterValueEnd"
                                                        class="form-control" style="border-radius: 15px; width: 200px;"
                                                        placeholder="To" th:value="${filterValueEnd}">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="link" th:value="${currentLink}">
                                        <button type="submit" id="searchButton" class="btn btn-secondary"
                                            style="border-radius: 15px; margin-left: 10px;">
                                            <i class="fas fa-search"></i> Filter
                                        </button>
                                        <button type="button" id="clearButton" class="btn btn-secondary"
                                            style="border-radius: 15px; margin-left: 10px;">
                                            <i class="fas fa-times"></i> Clear Filter
                                        </button>
                                    </div>
                                    <div style="margin-left: 20px;"><span style="color: red;" id="errorSpan"></span>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive" style="text-align: center;">
                                <table class="table table-bordered table-sm" data-resizable-columns-id="demo-table-v2">
                                    <thead>
                                        <tr id="ta" style="background-color: white;color:black;">
                                            <th class="sresizable-column" style="position: relative; width: 64.4375px">
                                                ID
                                            </th>
                                            <th class="sresizable-column">Name</th>
                                            <th class="sresizable-column">Address</th>
                                            <th class="sresizable-column" style="position: relative; width: 128.25px;">
                                                Phone</th>
                                            <th class="sresizable-column" style="position: relative; width: 175.275px;">
                                                Email</th>
                                            <th class="sresizable-column" style="position: relative; width: 109.25px;">
                                                Total</th>
                                            <th class="sresizable-column" style="position: relative; width: 155.275px;">
                                                Date Create</th>
                                            <th class="sresizable-column" style="position: relative; width: 199.325px;">
                                                Date Update</th>
                                            <th class="sresizable-column" style="position: relative; width: 317.65px;">
                                                Action</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-weight: 499;">
                                        <tr th:each="item : ${page.content}">

                                            <td th:text="${item.id}"></td>
                                            <td th:text="${item.name}"></td>
                                            <td th:text="${item.address}"></td>
                                            <td th:text="${item.phone}"></td>
                                            <td th:text="${item.email}"></td>
                                            <td th:text="${item.total}"></td>
                                            <td th:text="${item.date_create}"></td>
                                            <td th:text="${item.date_update}"></td>

                                            <td>
                                                <div style="margin: auto; text-align:center">
                                                    <a th:href="@{'/Debtor/Detail/view-detail/' + ${item.id}}"
                                                        class="btn btn-primary"><i class="fas fa-info-circle"></i>
                                                        Details
                                                    </a>

                                                    <!-- <a th:href="@{'/Debtor/edit/' + ${item.id}}" title="Edit"
                                                        class="btn btn-warning"><i class="fa fa-pencil"></i>
                                                        Edit
                                                    </a> -->
                                                    <a class="btn btn-warning" data-toggle="modal"
                                                        th:data-target="'#editModal' + ${item.id}">
                                                        <i class="fa fa-pencil"></i>
                                                        Edit
                                                    </a>



                                                    <a th:href="@{'/Debtor/delete/' + ${item.id}}"
                                                        class="btn btn-danger"
                                                        onclick="return confirm('Are you sure you want to delete?');"><i
                                                            class="fa fa-exclamation-circle"></i>
                                                        Delete
                                                    </a>

                                                </div>
                                            </td>

                                            <div th:replace="layout/debtor-popup :: edit-debtor-popup(${item})"></div>

                                            <script
                                                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
                                            <script
                                                src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                                        </tr>
                                        <th:block th:if="${page.content.size() < 6}">
                                            <tr th:each="i : ${#numbers.sequence(1, 6 - page.content.size())}">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </th:block>
                                        <!-- </c:forEach> -->

                                    </tbody>
                                </table>
                                <div class="card-body">
                                    <div class="pagination">
                                        <a th:classappend="${page.hasPrevious() ? '' : 'disabled'}"
                                            th:href="@{${link}(page=${page.number - 1}, nameDebtor=${nameDebtor}, filterType=${filterType}, filterValueStart=${filterValueStart}, filterValueEnd=${filterValueEnd})}"
                                            class="btn btn-dangers">Previous</a>
                                        <span>Page <span th:text="${page.number + 1}"></span> / <span
                                                th:text="${page.totalPages}"></span></span>
                                        <a th:classappend="${page.hasNext() ? '' : 'disabled'}"
                                            th:href="@{${link}(page=${page.number + 1}, nameDebtor=${nameDebtor}, filterType=${filterType}, filterValueStart=${filterValueStart}, filterValueEnd=${filterValueEnd})}"
                                            class="btn btn-dangers">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </th:block>


    <th:block id="admin_javascript">

    <script th:src="@{/assets/javascript/debtor.js}"></script>

    </th:block>

</html>