/* body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
/* padding: 0px 10px;
} */

/* @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} */
/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100%;
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.main-layout_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-layout_sidebar.main-layout_close {
    width: 88px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

/* ===== Reusable code - Here ===== */
.main-layout_sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.main-layout_sidebar header .main-layout_image,
.main-layout_sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.main-layout_sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.main-layout_sidebar .main-layout_text,
.main-layout_sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.main-layout_sidebar .main-layout_text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.main-layout_box-shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-layout_sidebar.main-layout_close .main-layout_text {
    opacity: 0;
    
}
/* =========================== */

/* =========================== */

.main-layout_sidebar header {
    position: relative;
}

.main-layout_sidebar header .main-layout_image-text {
    display: flex;
    align-items: center;
}

.main-layout_sidebar header .main-layout_logo-text {
    display: flex;
    flex-direction: column;
}

header .main-layout_image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .main-layout_image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.main-layout_sidebar header .main-layout_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-layout_sidebar header .main-layout_image img {
    width: 40px;
    border-radius: 6px;
}

.main-layout_sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .main-layout_sidebar header .toggle {
    color: var(--text-color);
}

.main-layout_sidebar.main-layout_close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.main-layout_sidebar .main-layout_menu {
    margin-top: 40px;
}

.main-layout_sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.main-layout_sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.main-layout_sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.main-layout_sidebar li a:hover {
    background-color: var(--primary-color);
}

.main-layout_sidebar li a:hover .icon,
.main-layout_sidebar li a:hover .main-layout_text {
    color: var(--sidebar-color);
}

body.dark .main-layout_sidebar li a:hover .icon,
body.dark .main-layout_sidebar li a:hover .main-layout_text {
    color: var(--text-color);
}

.main-layout_sidebar .main-layout_menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.main-layout_menu-bar::-webkit-scrollbar {
    display: none;
}

.main-layout_sidebar .main-layout_menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.main-layout_menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.main-layout_menu-bar .main-layout_bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.main-layout_home {
    position: absolute;
    top: 62px;
    right: 0;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    
}

.main-layout_home .main-layout_text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.main-layout_sidebar.main-layout_close~.main-layout_home {
    left: 78px;
    width: calc(100% - 78px);
}

.main-layout_sidebar.main-layout_close~.main-layout_top-header{
    left: 89px;
}
.main-layout_top-header .main-layout_total-money p{
    display: inline-block;
}
header i{
    margin-top: 40px;
}
@media screen and (max-width: 46em) {
    .fa-sack-dollar {
        display: block;
    }
    header i{
        margin-top: 44px;
    }
    .main-layout_home {

        left: 0px;
        width: 98%;
    }
    .main-layout_top-header .main-layout_total-money{
        display: none;
    }
    .main-layout_top-header .main-layout_total-money p{
        display: none;
    }
    .main-layout_sidebar.main-layout_close~.main-layout_home {
        left: 0px;
        width: 98%;

    }
    .main-layout_sidebar.main-layout_close~.main-layout_top-header {
        left: 13px;

    }
    .main-layout_sidebar.main-layout_close {
        width: 0px;
        padding: 6px;
    }

    .main-layout_sidebar.main-layout_close~#main-layout_logo-project {
        width: 0 !important;
        height: 0 !important;
        display: none !important;
    }
    .main-layout_sidebar.main-layout_close~.main-layout_image-text{
        width: 0 !important;
        height: 0 !important;
        display: none !important;
    }


}

body.dark .main-layout_home .main-layout_text {
    color: var(--text-color);
}

.main-layout_top-header{
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    transition: var(--tran-05);
    height: 56px;
    background-color: cadetblue;
    z-index: 4;

}
.main-layout_top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 12px;   
    color: white;
    box-sizing: border-box;
}
.main-layout_top-header h6{
    line-height: 56px;
    height: 56px;
}

.main-layout_top-header .main-layout_total-money{
    text-align: left;
    padding-left: 20px;
    line-height: 56px;
    min-height: 100%;
    width: auto;
}

